body, html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Roboto', Arial, sans-serif;
  width: 100%;
  height: 100%;
  color: #333333;
  background: #f8f8f8;
}
* {
  box-sizing: border-box;
}
a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  background: #000;
  color: #fff;
}
a.no-hover:hover {
  background: none;
}
input[type="text"] {
  width: 100%;
  padding: .8em 1em;
  border: solid 2px rgb(201, 201, 201);
  font-size: 1em;
  outline: none;
  border-radius: 4px;
}
input[type="text"]:disabled {
  opacity: .5;
}
pre, code, .markdown pre code {
  font-family: monospace !important;
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 1em 0;
  padding: 0;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.error {
  padding: .5em 1em;
  color: red;
  border-radius: 4px;
  font-size: .8em;
  background: #ffebeb;
  border: solid 1px red;
}
.left {
  float: left;
}
.right {
  float: right;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
#app {
  position: relative;
}
.block {
  display: block;
}
.iblock {
  display: inline-block;
}
.bt1 {
  border-top: dotted 1px #000;
}
.bl1 {
  border-left: dotted 1px #000;
}
.bl2 {
  border-left: dotted 2px #000;
}
.bb1 {
  border-bottom: dotted 1px #000;
}
.bb2 {
  border-bottom: dotted 2px #000;
}
.cf::before, .cf::after {
  content: " ";
  clear: both;
  display: table;
}

/* ---------------------------------------- generic */

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
hr {
  border-top: none;
  border-bottom: solid 1px #e2e2e2;
  margin: 1em 0;
}
.m0 {
  margin: 0 !important;
}
.mt1 {
  margin-top: 1em;
}
.mt03 {
  margin-top: .3em;
}
.mt05 {
  margin-top: .5em;
}
.mb1 {
  margin-bottom: 1em;
}
.mt2 {
  margin-top: 2em !important;
}
.mb2 {
  margin-bottom: 2em;
}
.ml1 {
  margin-left: 1em;
}
.ml2 {
  margin-left: 2em;
}
.ml3 {
  margin-left: 3em;
}
.mt3 {
  margin-top: 3em;
}
.mb1 {
  margin-bottom: 1em;
}
.mb05 {
  margin-bottom: .5em;
}
.mx03 {
  margin-left: .3em;
  margin-right: .3em;
}
.mx05 {
  margin-left: .5em;
  margin-right: .5em;
}
.mx1 {
  margin-left: 1em;
  margin-right: 1em;
}
.m03 {
  margin: .3em;
}
.my03 {
  margin-top: .3em;
  margin-bottom: .3em;
}
.my05 {
  margin-top: .5em;
  margin-bottom: .5em;
}
.my1 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.pl05 {
  padding-left: .5em;
}
.p0 {
  padding: 0 !important;
}
.p1 {
  padding: 1em;
}
.pl1 {
  padding-left: 1em;
}
.pr1 {
  padding-right: 1em;
}
.pt1 {
  padding-top: 1em;
}
.px1 {
  padding-left: 1em;
  padding-right: 1em;
}
.px05 {
  padding-left: .5em;
  padding-right: .5em;
}
.py1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.py05 {
  padding-top: .5em;
  padding-bottom: .5em;
}
.fz9 {
  font-size: .9em !important;
}
.fz8 {
  font-size: .8em !important;
}
.opa5 {
  opacity: .5;
}
.opa7 {
  opacity: .7;
}
.lh0 {
  line-height: 0;
}
.rel {
  position: relative;
}

/******************************************** layout */
#app {
  width: 100%;
  height: 100%;
}
.layout {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  height: 100%;
}

/******************************************** image */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(1.05); }
  to   { opacity: 1; transform: scale(1); }
}
.wallpaper {
  width: 100%;
  height: 100%;
}
.wallpaper a {
  cursor: pointer;
}
.image-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  animation: fadeIn 400ms;
  overflow: hidden;
}
.image-controls {
  font-size: 0.8em;
  line-height: 1.3em;
  margin: 0;
  padding: 0.4em 0.6em;
  position: absolute;
  bottom: 1em;
  right: 1em;
  background: rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-columns: 1fr 80px;
}
.image-loading {
  padding: 1em;
}

/******************************************** Todos */
.todos {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  display: grid;
  grid-template-rows: 100px 1fr;
}
nav {
  text-align: center;
  margin-bottom: 2em;
}
nav a {
  cursor: pointer;
  font-size: 1.4em;
  color: #999999;
}
nav a.selected {
  border-bottom: dotted 1px #999999;
}
nav a + a {
  margin-left: 0.5em;
}
nav a:hover {
  background: none;
  color: #000;
}
nav {
  padding: 1em;
}
.clock {
  text-align: center;
  align-self: center;
}
.clock h1 {
  font-weight: 100;
  font-size: 6em;
  margin-bottom: 0.4em;
}
.todos ul {
  list-style: none;
  margin: 0;
  padding: 0 2em;
}
.todo {
  font-size: 0.9em;
  padding: 0;
  background: #eee;
  border-radius: 4px;
  position: relative;
}
.todo .content {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
}
.todo + .todo {
  margin-top: 0.3em;
}
.todo.done {
  opacity: 0.3;
}
.todo-action {
  display: block;
  cursor: pointer;
  opacity: 0.7;
  text-align: center;
  padding: 0.5em;
  border-radius: 4px;
}
.todo-action:hover {
  background: #d5d5d5;
  color: #000;
  opacity: 1;
}
.todo .edit {
  visibility: hidden;
}
.todo:hover .edit {
  visibility: visible;
}
.text {
  padding: 0.5em;
}
.todo.editing .text {
  border-left: solid 1px #c1c1c1;
  border-right: solid 1px #c1c1c1;
}
.text textarea {
  width: 100%;
  border: none;
  background: none;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 4px;
  outline: none;
  height: 200px;
  resize: none;
}