body, html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Roboto', Arial, sans-serif;
  width: 100%;
  height: 100%;
  color: #333333;
}
* {
  box-sizing: border-box;
}
a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  background: #000;
  color: #fff;
}
a.no-hover:hover {
  background: none;
}
input[type="text"] {
  width: 100%;
  padding: .8em 1em;
  border: solid 2px rgb(201, 201, 201);
  font-size: 1em;
  outline: none;
  border-radius: 4px;
}
input[type="text"]:disabled {
  opacity: .5;
}
pre, code, .markdown pre code {
  font-family: monospace !important;
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 1em 0;
  padding: 0;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.error {
  padding: .5em 1em;
  color: red;
  border-radius: 4px;
  font-size: .8em;
  background: #ffebeb;
  border: solid 1px red;
}
.left {
  float: left;
}
.right {
  float: right;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
#app {
  position: relative;
}
.block {
  display: block;
}
.iblock {
  display: inline-block;
}
.bt1 {
  border-top: dotted 1px #000;
}
.bl1 {
  border-left: dotted 1px #000;
}
.bl2 {
  border-left: dotted 2px #000;
}
.bb1 {
  border-bottom: dotted 1px #000;
}
.bb2 {
  border-bottom: dotted 2px #000;
}
.cf::before, .cf::after {
  content: " ";
  clear: both;
  display: table;
}

/* ---------------------------------------- generic */

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
hr {
  border-top: none;
  border-bottom: solid 1px #e2e2e2;
  margin: 1em 0;
}
.m0 {
  margin: 0 !important;
}
.mt1 {
  margin-top: 1em !important;
}
.mt03 {
  margin-top: .3em !important;
}
.mt05 {
  margin-top: .5em !important;
}
.mb1 {
  margin-bottom: 1em !important;
}
.mt2 {
  margin-top: 2em !important;
}
.mb2 {
  margin-bottom: 2em !important;
}
.ml1 {
  margin-left: 1em !important;
}
.ml2 {
  margin-left: 2em !important;
}
.ml3 {
  margin-left: 3em !important;
}
.mt3 {
  margin-top: 3em !important;
}
.mb1 {
  margin-bottom: 1em !important;
}
.mb05 {
  margin-bottom: .5em !important;
}
.mb03 {
  margin-bottom: .3em !important;
}
.mx03 {
  margin-left: .3em !important;
  margin-right: .3em !important;
}
.mx05 {
  margin-left: .5em !important;
  margin-right: .5em !important;
}
.mx1 {
  margin-left: 1em !important;
  margin-right: 1em !important;
}
.m03 {
  margin: .3em !important;
}
.my03 {
  margin-top: .3em !important;
  margin-bottom: .3em !important;
}
.my05 {
  margin-top: .5em !important;
  margin-bottom: .5em !important;
}
.my1 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.pl05 {
  padding-left: .5em !important;
}
.p0 {
  padding: 0 !important;
}
.p1 {
  padding: 1em !important;
}
.pl1 {
  padding-left: 1em !important;
}
.pr1 {
  padding-right: 1em !important;
}
.pt1 {
  padding-top: 1em !important;
}
.px1 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.px05 {
  padding-left: .5em !important;
  padding-right: .5em !important;
}
.py1 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.py05 {
  padding-top: .5em !important;
  padding-bottom: .5em !important;
}
.fz9 {
  font-size: .9em !important;
}
.fz8 {
  font-size: .8em !important;
}
.opa5 {
  opacity: .5 !important;
}
.opa7 {
  opacity: .7 !important;
}
.lh0 {
  line-height: 0 !important;
}
.rel {
  position: relative !important;
}
.vac {
  align-self: center;
}

/******************************************** layout */
#app {
  width: 100%;
  height: 100%;
}
.layout {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  height: 100%;
}
.layout.dark {
  background: #1c1c1c;
}
@media all and (min-width: 1800px) {
  .layout {
    grid-template-columns: 30% 70%;
  }
}

/******************************************** image */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(1.05); }
  to   { opacity: 1; transform: scale(1); }
}
.wallpaper {
  width: 100%;
  height: 100%;
}
.wallpaper a {
  cursor: pointer;
}
.image-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  animation: fadeIn 800ms;
  overflow: hidden;
}
.image-controls {
  font-size: 0.8em;
  line-height: 1.3em;
  margin: 0;
  padding: 0.4em 0.6em;
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: grid;
  grid-template-columns: 1fr 80px;
  background: rgba(255, 255, 255, 0);
  transition: background 400ms ease-out;
}
.image-controls:hover {
  background: rgba(255, 255, 255, 0.8);
}
.image-loading {
  padding: 6em;
  font-size: 1em;
  font-style: italic;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c9c3c3+0,f2f2f2+100 */
  background: #c9c3c3; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #c9c3c3 0%, #f2f2f2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #c9c3c3 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #c9c3c3 0%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c3c3', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

/******************************************** Todos */
.todos {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  display: grid;
  grid-template-rows: 100px 1fr;
}
nav {
  text-align: center;
  margin-bottom: 2em;
}
nav a {
  cursor: pointer;
  font-size: 1.4em;
  color: #999999;
}
nav a.selected {
  border-bottom: dotted 1px #999999;
}
nav a + a {
  margin-left: 0.5em;
}
nav a:hover {
  background: none;
  color: #000;
}
.dark nav a:hover {
  color: #ebebeb;
}
nav {
  padding: 1em;
}
.clock {
  text-align: center;
  align-self: center;
}
.dark .clock {
  color: #757575;
}
.clock h1 {
  font-weight: 100;
  font-size: 6em;
  margin-bottom: 0.4em;
}
.todos ul {
  list-style: none;
  margin: 0;
  padding: 0 2em;
}
.todo {
  font-size: 0.9em;
  padding: 0 0.4em;
  background: #eee;
  border-radius: 4px;
  position: relative;
  max-height: 207px;
  overflow-y: auto;
}
.dark .todo {
  background: #101010;
  color: #999;
}
.todo .content {
  display: grid;
  grid-template-columns: 36px 1fr 80px;
}
.todo.editing .content {
  display: block;
}
.todo + .todo {
  margin-top: 0.3em;
}
.todo.done {
  opacity: 0.2;
}
.dark .todo .text a {
  color: #fff;
}
.todo-action {
  display: inline-block;
  cursor: pointer;
  opacity: 0.7;
  text-align: center;
  padding: 0.5em;
  border-radius: 4px;
  line-height: 0;
}
.dark .todo-action {
  color: #999;
}
.todo-action:hover {
  background: #d5d5d5;
  color: #000;
  opacity: 1;
}
.dark .todo-action:hover {
  background: #232323;
  color: #ebebeb;
}
.todo .options {
  padding-top: 6px;
}
.todo .options .todo-action {
  display: none;
}
.todo:hover .options .todo-action {
  display: inline-block;
}
.text {
  padding: 0.5em;
}
.text textarea {
  width: 100%;
  border: none;
  background: none;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 4px;
  outline: none;
  height: 150px;
  resize: none;
}
.dark .text textarea {
  color: #999;
}
footer {
  margin: 2em 0;
  font-size: 0.8em;
}
footer a {
  display: inline-block;
}
.dark footer {
  color: #4e4e4e;
}